<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sign In</title>
</head>
<body>
<div class="container">
  <form class="form-signup" method="post" action="/auth/registration">
    <h2 class="form-signup-heading">Login</h2>
    <p>
      <label for="login">Email</label>
      <input type="text" id="login" name="login" class="form-control" placeholder="Login" required>
    </p>
    <p>
      <label for="password">Password</label>
      <input type="text" id="password" name="password" class="form-control" placeholder="Password" required>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
</body>
</html>